* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.forkme-button {
  margin: 0;
  width: 10vw;
  height: 10vw;
  transition-duration: 0.3s;
}

.forkme-button:hover {
  width: 12vw;
  height: 12vw;
}

#settings {
  position: absolute;
  /* right: 10vw; */
  /* display: none; */
  z-index: 999;
  border: 0.3vw solid gray;
  border-radius: 2vw;
  max-width: 40vw;
  margin: auto;
  max-height: 30vw;
  overflow-y: scroll;
  display: flex; /* def flex */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

#btn-setting button {
  background-color: #222222;
  border: 0.15vw solid white
}

#btn-setting {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

#settings #hr {
  color: grey;
}

#desc {
  display: none;
}

.fork-link {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.icon {
  margin: 0.5%;
  padding-top: 5px;
  width: 5% !important;
}

img.icon {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
  margin: 0;
  background-color: #0c1320;
}

header a:hover{
  color: rgb(73, 122, 245);
  transform: scale(1.05);
  transition: .2s;
}

.linkmenu{
  text-decoration: none;
}

.icon{
  border-radius: 40%;
  
}

header a {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-select {
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
  max-width: 100%;
}

.game-button {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1b2c40, #0b111d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1b2c40, #0b111d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 3%;
  padding: 6px;
  transition-duration: 0.3s;
  transform: translate(0px, 0px);
}

.game-button img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.game-button a {
  text-decoration: none;
}

.game-button:hover {
  transition-duration: 0.3s;
  transform: translate(0px, -10px);
}

.cursor-pointer {
  cursor: pointer;
}

.hiddenUpload {
  margin: auto;
  text-align: center;

}

.uploadResult {
  margin: auto;
  text-align: center;
}

.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  border-radius: 10px;
  height: 20px;
  color: black;
}